h3 {
  line-height: 2;
  font-size: 25px;
  color: #498585;
}

strong {
  font-weight: 500;
}

.definitions {
  margin-bottom: 25px;
  padding: 20px;
  background: rgba(169, 196, 196, 0.35);
  border-radius: 0 20px 0 20px;
}
